.container {
  width: 100%;
  height: auto; 
  margin: 50px;
}

.form button {
  height: auto;
  background-color: rgb(29, 28, 57);
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header{
  display:flex;
  flex-direction: column;
  align-items: center;  
}

input[type="text"] {
  font-size:25px;
}

#letterInput {
  padding: 10px;
  margin-left: 100px;
  border-radius: 5px;
  text-align: center;
}

.letterSlots {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 20px;
}

.main-header { 
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}

.main-header__svg-container {
  display: flex; 
  justify-content: center;
  width: 100%;
  height: auto;
}

.main-header__img {
  height: 200px;
  width: 200px;
  background-color: rgb(108, 108, 95);
  border-radius: 50%;
  padding: 25px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.pageContent span {
  margin-right: 5px;
}

.playsRemainingHeader {
  display: flex; 
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  font-size: 20px;
}